body, html {
    height: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace, Arial, Helvetica, sans-serif;
}

body.bg-color {
    background-color: #41206d;
}

div.left-color {
    background-color: rgb(87, 153, 153);
}

.fullscreen {
    min-height: 100%;
}

.fullscreen-3-4 {
    min-height: 75%;
}

.fullscreen-1-2 {
    min-height: 50%;
}

.index-nav {
    color: rgb(234, 230, 235);
    font-size: 15px;
}

.index-nav:hover {
    color: rgb(12, 145, 34);
}

input:hover {
    background-color: rgb(235, 235, 235);
}

.fullsize {
    width: 100%;
}

.vertical-center {
    min-height: 100%; 
    min-height: 100vh;    
    display: flex;
    align-items: center;
}

.items-centered-vertical {
    display: flex;
    align-items: center;
}

.min-width-75 {
    min-width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
}

.txt {
    cursor: pointer;
}

.txt:hover {
    text-decoration: underline;
}

@media (min-width: 576px) {
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 768px) {
    div.sign-up-r {
        text-align: right;
    }

    div.sign-up-l {
        text-align: left;
    }
}

